/*------------PORTFOLIO CUERPO--------------*/
.portfolioCuerpo {
    position: relative;
    width: 100%;
    height: auto;
}


/* HEADER */
.header {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f03c18 0%, #FF8D10 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nombre {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 38px;
}

.botonHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    transition: transform 0.8s ease;
}

.botonHeader:hover {
    border-radius: 15px;
    color: #a90329;
    transform: translateY(-6px);
}

.curriculum {
    cursor: pointer;
    color: aliceblue;
    border: none;
    border-radius: 16px;
    width: 150px;
    height: 30px;
    background-color: #a90329;
    box-shadow:
        0px 5px 8px 0px rgba(0, 0, 0, 0.34),
        0px 1px 14px 0px rgba(0, 0, 0, 0.32);
}

.curriculum:hover {
    border: 1px solid #a90329;
    background-color: aliceblue;
    color: #a90329;
}


/*-------------------------HOME CUERPO-------------------------*/

.titulo {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: 40px;
    color: #30000c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 38px;

}

.imgPerfil {
    border-radius: 1000px;
    width: 400px;
    height: 400px;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    padding: 30px;
}

.perfilDefinicion {
    font-size: 30px;
    text-align: justify;
}


/*-----------------------PROYECTOS-----------------------*/

.proyectoCuerpo {
    margin-top: 115px;
    height: 100vh;
    background-color: #e2e0e062;
}

.tablaProyectos {
    display: flex;
    gap: 5px;
    padding: 10px;
    justify-content: space-around;
}

.proyectoCuerpoParrafo {
    margin-left: 12%;
    margin-right: 12%;
    font-size: 1.4em;
    text-align: justify;
    color: #a90329;
    font-weight: bold;
}

/*--------------------------------CARTA DE PROYECTO--------------------------------*/
.carta {
    position: relative;
    background-color: white;
    width: 250px;
    height: 390px;
    border: 1px solid #a90329;
    border-radius: 16px;
    box-shadow:
        0px 5px 8px 0px rgba(0, 0, 0, 0.25),
        0px 1px 14px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.carta:hover {
    transform: scale(1.1);
}

.carta img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.carta h2 {
    color: #900525;
    cursor: default;
    text-align: center;
}

.carta p {
    margin: 0 13px 15px 13px;
    text-align: justify;
    color: #a9032ace;
    cursor: default;

}

.cartaBotones {
    display: flex;
    position: absolute;
    bottom: 19px;
    margin-left: 28px;  
    gap: 10px;
}

.cartaBotones button {
    cursor: pointer;
    color: aliceblue;
    border: none;
    border-radius: 16px;
    width: 90px;
    height: 30px;
    background-color: #a90329;
    transform: translateY(0px);
    left: 30px;
}

.cartaBotones button:hover {
    border: 1px solid #a90329;
    background-color: white;
    color: #a90329;
}

.cartaBotones button:active {
    transform: translateY(4px);
}


/*------------------- IMAGEN PROYECTO EN GRANDE ---------------------*/
.imagenProyecto {
    display: none;
}

.imagenProyectoAbierto {
    width: 100%;
    height: 100vh;
    background-color: #242424b4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenModal {
    width: 70%;
    height: auto;
    background-color: #f03c18;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenModal img {
    max-width: 100%;
    height: auto;
}

.imagenModal button {
    position: absolute;
    /* Establecer posición absoluta */
    bottom: 19px;
    /* Establecer distancia de 10px desde la parte inferior */
    margin: 0 23px;
    /* Establecer margen izquierdo y derecho para centrar el botón */
    cursor: pointer;
    color: aliceblue;
    border: none;
    border-radius: 16px;
    width: 150px;
    height: 30px;
    background-color: #a90329;
    box-shadow:
        0px 5px 8px 0px rgba(0, 0, 0, 0.28),
        0px 1px 14px 0px rgba(0, 0, 0, 0.28);
    transform: translateY(0px);
}

.imagenModal button:hover {
    border: 1px solid #a90329;
    background-color: white;
    color: #a90329;
}

.imagenModal button:active {
    transform: translateY(4px);
}

/* SKILLS*/

.skillsPage {
    height: 100vh;
}

.skillsCuerpo {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

.skillsTitulo {
    margin: 6px;
    font-size: 2em;
    color: #30000c;
    background-color: transparent;
}

.skillsUnidad {
    display: flex;
    gap: 40px;
    justify-content: center;
    border: 1px solid #a90329;
    border-radius: 15px;
    padding: 10px;
    box-shadow:
        0px 5px 8px 0px rgba(0, 0, 0, 0.28),
        0px 1px 14px 0px rgba(0, 0, 0, 0.28);
}

.skillsUnidad h4 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 1.2em;
}

.skillsUnidad h1 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 2.5em;
    font-family: Tahoma;
    color: #543122;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill h4 {
    font-size: 1.5em;
}

.skillsUnidad img {
    width: 80px;
}

.bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloque:hover {
    transform: scale(1.2);
}

/*------------------------CONTACTO------------------------*/
.contactoPage {
    height: 100vh;
    background-color: #e2e0e062;
}

.contactoCuerpo {
    display: flex;
    justify-content: center;
}

.contactoCuerpoCentrado {
    width: 600px;
    height: 470px;
    background-color: rgb(255, 240, 240);
    border: 2px solid #a90329;
    border-radius: 20px;
    padding: 18px;
    color: #543122;
    box-shadow:
        0px 5px 8px 0px rgba(0, 0, 0, 0.25),
        0px 1px 14px 0px rgba(0, 0, 0, 0.25);
}

.contactoCuerpoCentrado:hover {
    transform: scale(1.15);
}

.contactoCuerpoCentrado h1 {
    margin-bottom: 5PX;
    color: #30000c;
}

.contactoCuerpoCentrado h2 {
    display: flex;
    align-items: center;
    margin: 0;
}

ion-icon {
    font-size: 48px;
}

a {
    color: inherit;
    text-decoration: none;
}

/*-------------------------BOTON PARA SUBIR EL SCROLL-------------------------*/
#arriba {
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    top: 88%;
    right: 5%;
    color: aliceblue;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100px;
    background-color: #a90329;
    font-size: 15px;
    box-shadow:
        0px 5px 8px 0px rgba(0, 0, 0, 0.34),
        0px 1px 14px 0px rgba(0, 0, 0, 0.32);
    transform: translateY(0px);
}

#arriba:hover {
    border: 1px solid #a90329;
    background-color: white;
    color: #a90329;
}

#arriba:active {
    transform: translateY(4px);
}

/*------------------------------CSS PARA MOBIL------------------------*/

@media only screen and (max-width: 768px) {
    .header {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-info {
        position: relative;
        margin-top: 20px;
        gap: 10px;
    }

    .nombre {
        margin: 20px 0px 0px 0px;
    }

    .botonHeader {
        font-size: 18px;
    }

    .curriculum {
        position: absolute;
        width: 120px;
        height: 25px;
        left: 32%;
        top: 110%;
    }

    /*-------------------------HOME CUERPO-------------------------*/

    .titulo {
        margin-top: 40px;
    }

    .imgPerfil {
        border-radius: 1000px;
        width: 80%;
        height: 80%;
    }

    .perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    /*------------------------CONTACTO------------------------*/
    .contactoCuerpoCentrado {
        width: 85%;
        height: auto;
    }

    .contactoCuerpoCentrado:hover {
        transform: none;
    }

    .correoLargo {
        font-size: 17px;
    }

    /*-----------------------PROYECTOS-----------------------*/

    .proyectoCuerpo {
        margin-top: 5px;
        height: auto;
    }

    .contenedorTablaProyectos {
        width: 100%;
        overflow-x: auto;
      }

    .tablaProyectos {
        display: flex;
        width: max-content;
        gap: 10px;
    }

    .proyectoCuerpoParrafo {
        margin-left: 5%;
        margin-right: 5%;
    }

    .carta {
        flex-shrink: 0;
    }

    /*------------------- IMAGEN PROYECTO EN GRANDE ---------------------*/

    .imagenProyectoAbierto {
        width: 100vw;
        height: 100%;
    }

    .imagenModal {
        width: 85%;
        height: auto;
    }

    .imagenModal img {
        max-width: 100%;
        height: auto;
    }

    .imagenModal button {
        position: absolute;
        bottom: 39px;
        margin: 0 23px;
    }

    /*----------------SKILLS----------------*/

    .skillsPage {
        height: auto;
    }

    .skillsCuerpo {
        padding-left: 0;
        padding: 10px;
    }

    .skillsUnidad {
        display: flex;
        flex-wrap: wrap;
    }

    .bloque:hover {
        transform: none;
    }

    .carta:hover {
        transform: none;
    }

    /*-------------------------BOTON PARA SUBIR EL SCROLL-------------------------*/
    #arriba {
        position: fixed;
        top: 88%;
        right: 45%;
        width: 50px;
        height: 50px;
    }

}